
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}


.header-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_social {
    display: flex;
    list-style-type: none;
}

.header-info {
    background-color: #8080801a;
    border-radius: 20px;
    margin-left: 40px;
    flex: 1; 
}

.Name {
    padding-left: 160px;
    padding-top: 15px;
    background-color: white;
    padding-bottom: 10px;
}

.personalInfo {
    margin: 5px;
}

.social_icon_vk, .social_icon_telegram, .social_icon_whatsUp {
    width: 32px;
    height: 23px;
}

.info-box {
    display: flex;
    flex-wrap: wrap; 
    min-width: 850px;
}

.info-list > li {
    padding: 15px;
    margin-left: 5px;
    padding-right: 19px;
    list-style-type: none;
    color: #9999A2;
}

.right > li {
    color: black;
}

.main-wrapper {
    padding-top: 15px;
    padding-left: 65px;
}

.main-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.main-content {
    max-width: 64%;
}

.main-list:nth-child(1n) {
    color: #9999A3;
}

.experiencLable {
    padding: 0px 315px;
    color: #9999A3;
}

.img {
    max-width: 270px;
    border: white;
    border-radius: 300px;
}

.main-text {
    background-color: #A9A9FD;
    color: white;
    border-radius: 7px;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
}

.mainListTime {
    color: black;
}

.more {
    background-color: #F1A9FD;
    color: white;
    border-radius: 7px;
    padding: 5px;
}

.skills, .Language, .aboutMe {
    margin-bottom: 50px;
}

.lable {
    color: #BCBCC2;
    margin-bottom: 20px;
}

span {
    padding: 12px;
    border-radius: 12px;
    background-color: #F5F5FA;
}
.skills_block{
    display: inline-block;
    margin-top: 10px;
}
.aboutMe{
    line-height: 24px;
}
.section_wrapper{
    margin: 0 auto;
}



@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .header-contacts{
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    
    .header-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }
    
    .header-info {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .info-box {
        min-width: 100%;
    }

    .header-contacts{
        margin: 0 auto;
    }
    
    .Name {
        padding-left: 0;
        text-align: center;
    }
    
    .main-wrapper {
        padding-left: 15px;
    }
    
    .main-box {
        padding-left: 0;
        align-items: flex-start;
        padding: 20px;
    }
    
    .experiencLable {
        padding: 0;
        text-align: center;
    }
    .section_wrapper{
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    
    .img {
        max-width: 250px;
    }
    
    .header-social {
        justify-content: center;
    }
    
    .info-list > li, .right > li {
        padding: 10px;
        text-align: center;
    }
    .main-list > p{
      margin: 10px 0;;
    }
    .main-wrapper{
        padding: 0 auto;
    }
}

@media (max-width: 576px) {
    *{
        font-size: 12px;
    }
    .header-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .info-box {
        min-width: 100%;
    }
    
    .info-list {
        padding: 0;
        margin: 0;
    }
    
    
    .skills span, .Language span, .aboutMe span {
        display: block;
        margin-bottom: 10px;
    }
    
    .main-box {
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    *{
        font-size: 11px;
    }
}